body {background-color: #ffffff}
#restartB {background-color: #35ad00}
#odiv {background-color: transparent}
.celll, .lE {background-color: #eeeeee}
.fcell {color: #ed2525}
.tcell {color: #46f106}
#legend {background-color: #efefef}
table, th, td {border-color: #618acb}
#loadblank {background-color: #29d600}
.button {color: #ffffff}
#negB:disabled, #conB:disabled, #disB:disabled, #impB:disabled, #iimpB:disabled, #bimB:disabled, #oBB:disabled, #cBB:disabled, #delB:disabled, #letB:disabled, #testB:disabled {background-color: #909090}
.pseudoinput {color: #625e5e}
#input {background-color: #bcbcbc; color: #4d4d4d}
#input2 {background-color: #e0e0e0; color: #7f8386}
#negB {background-color: #dd0f36}
#negB:active {background-color: #c10025}
#conB {background-color: #63c600}
#conB:active {background-color: #34aa00}
#disB {background-color: #00dbb1}
#disB:active {background-color: #00ac8b}
#impB {background-color: #ead916}
#impB:active {background-color: #c3b411}
#iimpB {background-color: #ead916}
#iimpB:active {background-color: #c3b411}
#bimB {background-color: #ed9914}
#bimB:active {background-color: #c37c0c}
#oBB {background-color: #0076ff}
#oBB:active {background-color: #0058be}
#cBB {background-color: #0076ff}
#cBB:active {background-color: #0058be}
#delB {background-color: #ff0000}
#delB:active {background-color: #cc0000}
#letB {background-color: #c400ff}
#letB:active {background-color: #500069}
#testB {background-color: #29d600}
#testB:active {background-color: #20a800}
#uBcounterdiv {background-color: #0076ff; color: #dbdbdb}
#uBcounterdiv:active {background-color: #db2c2c}
#uBcounterdiv:disabled {color: #393939; background-color: #909090}