body {
    overflow: hidden;
    margin: 0px;
}
#restartB {
    position: fixed;
    top: 8px;
    left: 8px;
}
#thead, #tdiv {
    display: block;
    border-width: 0px;
    table-layout: fixed;
}
#tdiv {
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.5s cubic-bezier(0, 0, .4, 1);
}
#odiv {
    position: fixed;
    border-width: none;
    transition: all 0.5s cubic-bezier(0, 0, .4, 1);
}
th, td {
    border-width: 2px;
    border-style: solid;
    text-shadow: 1px 1px 2px rgba(29, 29, 29, 0.5);
    width: 0px;
    height: 0px;
    text-align: center;
}
th {
    font-family: 'Ravi Prakash';
    border-bottom-width: 1px;
}
td {
    font-family: 'Logic';
}
table {
    border-width: 0px;
    border-style: solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
#loadblank {
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s ease-out;
}
#legend {
    position: absolute;
    top: 8px;
    border-radius: 2px;
}
#legtxt, .legn, .calc {
    font-family: 'Ravi Prakash', cursive;
    font-size: 16px;
}
#legtxt {
    margin: 0px 0px 0px 0px;
    position: relative;
    top: 14px;
    left: 4px;
    display: inline-block;
}
.legn {
    position: absolute;
}
.calc {
    position: fixed;
    top: -100;
}
.button {/* "Macro" for making buttons*/
    width: 9.75%;
    border-radius: 50%;
    height: 17.5%;
    font-family: 'Ravi Prakash', cursive;
    font-size: 200%;
    outline: none;
    border-style: solid;
    box-sizing: content-box;
    border-width: 0px;
    padding: 0px;
    transition: 0.2s ease-out;
    position: absolute;
    box-shadow: 2px 2px 1px #4b4b4b;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #4b4b4b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:active {
    transform: scale(1.1);
}
.button:disabled {
    transform: scale(0.94);
    text-shadow: 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px #000000;
}
#butWrapper {
    align-content: left;
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
}
#delB {
    font-family: 'Logic';
}
.pseudoinput {/* Input */
    text-align: center;
    font-family: 'Ravi Prakash', cursive;
    font-size: 200%;
}
.h1 {/* Title */
    text-align: center;
    font-family: 'Delius Unicase', cursive;
}
#input {/* Input */
    text-align: right;
    font-family: 'Ravi Prakash', cursive;
    word-break: break-all;
    border-radius: 5px;
    font-size: 200%;
    transition: all 0.2s ease-out;
    margin: 0px;
}
#input2 {/* "Placeholder" of Input */
    text-align: center;
    font-family: 'Ravi Prakash', cursive;
    border-radius: 5px;
    font-size: 200%;
    transition: all 0.2s ease-out;
    margin: 0px;
}
#holder {
    transition: 0.2s ease-out;
    position: fixed;
    left: 8px;
    right: 8px;
}
#uBcounterdiv {
    border-width: 0px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 2px #4b4b4b;
    transition: 0.2s ease-out;
}
#uBcounterdiv:disabled {
    box-shadow: 0px 0px 0px #000000;
}
#uBcounter {
    text-align: center;
    transition: 0.2s ease-out;
    font-family: 'Ravi Prakash', cursive;
}