<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.dnj.truth"
        version     = "1.0.0" >
    
    <name>Truth</name>
    
    <description>Simple tool to create truth tables from their logic equations</description>
    
    <author email="david4iag@gmail.com">DnJ Co.</author>
    
</widget>
