/* telugu */
@font-face {
  font-family: 'Ravi Prakash';
  font-style: normal;
  font-weight: 400;
  src: local('Ravi Prakash'), local('RaviPrakash-Regular'), url(Ravi_Prakash0.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Ravi Prakash';
  font-style: normal;
  font-weight: 400;
  src: local('Ravi Prakash'), local('RaviPrakash-Regular'), url(Ravi_Prakash1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 400;
  src: local('Delius Unicase'), local('DeliusUnicase-Regular'), url(Delius_Unicase.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'LogicL';
  font-style: normal;
  font-weight: 400;
  src: local('LogicL'), local('LogicL'), url(LogicL.woff2) format('woff2');
  unicode-range: U+0046, U+0056, U+0054;
}
@font-face {
  font-family: 'Logic';
  font-style: normal;
  font-weight: 400;
  src: local('Logic'), local('Logic'), url(Logic.woff2) format('woff2');
  unicode-range: U+0046, U+0056, U+0054, U+232B;
}